* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../images/background.jpg);
  background-size: 100%;
  width: 100vmax;
  height: 100vmin;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.container {
  border: 5px solid rgb(255, 255, 255);
  border-radius: 15px;
  width: 70vh;
  height: auto;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  padding: 15px;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
}
