* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ====== Box Content ====== */
.cont {
    position: absolute;
    width: 600px;
    height: 720px;
    padding: 30px;
    border-radius: 15px;
    color: #ffffff;
}

.cont form .btn {
    background: #393e92;
    color: #ffffff;
}

#fakultas {
    color: #393e92;
}