*{
    box-sizing: border-box;
}

body{
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
    overflow-x: hidden;
}

nav{
    z-index: 10;
    width: 100vw;
}

.nav-crew{
    margin-left: 50px;
}

.navbar-brand{
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 40px;
    font-family: interstelar;
    src:"assets/fonts/OPTIBodoni-Antiqua.otf";
}

.deskripsi{
    padding-top: 50px;
    text-align: justify;
    color: #FFFFFF;
    background-color: black;
}

.crew{
    padding-top: 120px;
    padding-left: 70px;
    padding-bottom: 60px;
    background-color: black;
    color: #FFFFFF;
}

h3{
    padding-top: 50px;
    padding-right: 65px;
    padding-bottom: 80px;
    text-align: center;
    background-color: black;
    color: #FFFFFF;
}

.card{
    background-color: black;
    color: #FFFFFF;
    align-items: center;
    padding-bottom: 50px;
}

footer{
    background-color: #212121;
    border-color: black;
    color: #FFFFFF;
}
.btn{
    color: #FFFFFF;
}
