*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5dec8;
    font-family: 'Times New Roman', Times, serif;
    position: center center ;
}
  
@font-face {
    font-family: Brothery ;
    src: url(../fonts/Brothery.ttf);
}

@font-face {
    font-family: Earwig ;
    src: url(../fonts/earwig\ factory\ rg.ttf);
}
  
.logo{
    font-family: Earwig;
    color: #fa896d;
    font-size: 40px;
}

  .navbar {
    align-items: center;
    display: flex;
    background-color: #f1f1fd;
    position: fixed;
    width: 100%;
    padding: 5px;
    justify-content:space-between;
}

.navbar a {
    float: right;
    color:  #fa896d;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration:none;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a:hover {
    color: #f1f1fd;
    background-color: #fa896d;
    border-radius: 8px;
}
  
.jumbotron{
    width: 100%;
    margin: 0;
    padding: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e95d0c;
    background-image: url(../images/bgimage.jpg);
    background-attachment:fixed; 
    background-size: cover;
    background-position: center center;
    font-family: Brothery;
    font-size: 50px;
}

h2{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
    padding-top: 80px;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;   
}

.container> div{
  height: auto;
  text-align: justify;
  font-size: 16px;
}

.container-galery{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  text-align: center;
  text-align: justify;
}

.container-galery>div{
  margin-top: 8px;
  width: 100%;
  font-size: 16px;
}

.container-galery>div>img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}















