*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../gambar/joker.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box {
    justify-content: center;
    align-items: center;
    background: #560000;
	color: beige;
	text-align: center;
	width: 400px;
	height: 500px;
	padding:  40px;
    margin-top: 50px;
    outline: #fff;
}

.btn {
    color: beige;
}

.tittle {
    font-family: 'Henny Penny', cursive;
    font-size: 50px;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}